{% extends 'layout.html' %}

{% block header %}
<p>Machine is ready, insert the waste please ! </p>
{% endblock %}

{% block content %}
	{% if picture %}
		<p>
			<img src="{{ picture }}" id="img-upload" alt="Picture" width=150 />
		</p>
		<hr >
		<div>
			<form action="/waste/pick-type" method="POST">
				<div><input type="hidden" name="picture" id="picture" value="{{ picture }}" /></div>
				<div><input type="submit" value="Déchet déposé" /></div>
			</form>
			<form action="/waste/pick-type_sdk" method="POST">
				<div><input type="hidden" name="picture" id="picture" value="{{ picture }}" /></div>
				<div><input type="submit" value="Déchet déposé (SDK)" /></div>
			</form>
			<form action="/waste/pick-type-dirty" method="POST">
				<div><input type="hidden" name="picture" id="picture" value="{{ picture }}" /></div>
				<div><input type="submit" value="Déchet déposé (Propre?)" disabled /></div>
			</form>
		</div>
	{% else %}
		<p>
			<img id="picture"
				width=150
				src="/static/images/upload-photo.png"
				alt="Upload image"
				title="Upload an image"
			/>
		</p>
		<form action="/picture" method="POST" enctype="multipart/form-data">
			<div><input type="file" name="image" id="image" /></div>
			<hr >
			<div><input type="submit" value="Upload an image" /></div>
		</form>
	{% endif %}
{% endblock %}

{% block footer %}
<!-- Footer -->
<footer id="footer">
	<ul class="copyright">
		<li>&copy; Jane Doe</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
	</ul>
</footer>
{% endblock %}

{% block script %}
<!-- Scripts -->
<script>
	if ('addEventListener' in window) {
		window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
		document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
	}
</script>
{% endblock %}
